*.exe
*.pdb
.vs
.vscode
*.VC.opendb
*.VC.db
*.vcxproj.user
*.sdf
*.ilk
*.obj
*.slang-module
*.zip
*.ini
*.sln
.clang-format

bin/
intermediate/
external/
downloads/
build/

build.*/
Makefile

# Intermediate source files generated during build process
/source/slang/cpp.hint
/docs/_site
/docs/Gemfile.lock
/docs/Gemfile
