[submodule "external/slang"]
	path = external/slang
	url = https://github.com/shader-slang/slang
[submodule "external/slang-binaries"]
	path = external/slang-binaries
	url = https://github.com/shader-slang/slang-binaries
